
:root{

}

.logo {
    background-color: #99823D;
}

body{ 
      font-family: "Open Sans", sans-serif;
}

.header-list-nav {
    display: flex;
    gap: 37px;
    list-style: none;
    text-decoration: none;
}

.about-us-title{
    color: rgb(20, 20, 20);
font-family: Teko;
font-size: 59px;
font-weight: 700;
line-height: 58.65px;
letter-spacing: 0%;
text-align: center;
}

.card-info{
    color: rgb(20, 20, 20);
font-family: Teko;
font-size: 26px;
font-weight: 400;
line-height: 26.11px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}

.title-servises{
    color: rgb(20, 20, 20);
font-family: Teko;
font-size: 53px;
font-weight: 700;
line-height: 52.96px;
letter-spacing: 0%;
}

.card-title-i{
    color: rgb(255, 255, 255);
font-family: Teko;
font-size: 26px;
font-weight: 400;
line-height: 26.11px;
letter-spacing: 0%;
}

.new-info{
    color: rgb(20, 20, 20);
    font-family: Teko;
    font-size: 26px;
    font-weight: 400;
    line-height: 26.11px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main-title{
    color: rgb(20, 20, 20);
font-family: Teko;
font-size: 53px;
font-weight: 400;
line-height: 52.96px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}

.card-title{
    color: rgb(20, 20, 20);
font-family: Teko;
font-size: 67px;
font-weight: 400;
line-height: 67.03px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}

.header-link{
    color: white;
}

.header-list-arc {
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.header-item {
    color: white;
}

.main-list-nav {
    display: flex;
    gap: 10px;
    text-decoration: none;
    list-style: none;
}

.heaader-backround {
    background-color: black;
    /* width: 1440px;
    height:68px ; */
}

.backround-header {
    background-color: grey;
}

header {
    display: flex;
    background-color: #141414;
}

.card-news {
    list-style: none;
}

.about-us {
    list-style: none;
}